{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'product/css/product.css' %}">{% endblock %}
{% block title %}Sajha Kitab - Home {% endblock %}

{% block body %}
    <div class="product-post">
        <div class="personal-details">
            <h2>Contact Information</h2>
            <div class="center-text">
                {% for detail in request.user.profile_set.all %}
                <img src="/media/{{detail.profile_picture}}" width="100" height="100" class="rounded-circle"> 
                <br><br>
                <p><strong>Phone Number : {{detail.phone_number}}</strong></p><br>
                <p><strong>Email Address :</strong>{{request.user.email}} </p> <br>
                <p></p>
                {% endfor %}
            </div>
        </div>
        <div class="product-post-forms">
            <div class="product-post-form">
                <h2>Product Information</h2><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{form.as_p}}
                    <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}